@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-x: hidden;
}
/* ========navbar ============ */
#first {
  display: flex;
  justify-content: space-between;
  background-color: rgb(78, 75, 75);
  padding: 20px 0px 20px 0px;
  position: sticky;
  top: 0px;
  overflow-x: hidden;
}

#second {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
#second div a {
  text-decoration: none;
  padding: 20px;
  color: white;
}
#second div a:hover {
  color: rgb(125, 126, 24);
}
#first div a {
  text-decoration: none;
}
/* ==========navbar end========== */
/* ===========hero start======= */
#hero {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(44, 43, 43);
  overflow-x: hidden;
}
@media (max-width: 425px) {
  #hero {
    display: block;
  }
}
#hero1 {
  margin: 0px;
}
@media (max-width: 768px) {
  #hero1 {
    margin: -80px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  #hero1 {
    margin: -80px 0px 0px 40px;
  }
}

#hello {
  color: white;
  font-size: 16px;
  margin-top: 150px;
}
#i {
  color: white;
  font-size: 50px;
  font-weight: 600;
}
@media (max-width: 425px) {
  #i {
    font-size: 40px;
  }
}
#ac {
  color: white;
  font-size: 16px;
}
#know {
  background-color: orange;
  width: 120px;
  height: 20px;
  padding: 5px 8px 5px 40px;
  margin: 20px 0px 200px 0px;

  color: white;
}
@media (max-width: 425px) {
  #know {
    width: 100px;
    height: 20px;
    padding: 4px 8px 4px 20px;
    margin-top: 15px;
  }
}
#know:hover {
  color: orange;
  background-color: white;
}
#image {
  margin: 0px;
}
@media (max-width: 768px) {
  #image {
    margin: 0px -80px 0px 0px;
  }
}
@media (max-width: 425px) {
  #image {
    width: 220px;
    margin: 25px 0px 20px 36px;
  }
}

/*===========end hero==============*/
/* ==========about=========== */
#ab {
  background-color: rgb(21, 20, 20);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 0px;
}
@media (max-width: 425px) {
  #ab {
    display: block;

    margin: 0px;
  }
}

#abb {
  margin: 40px 0px 40px 0px;
}
@media (max-width: 425px) {
  #abb {
    margin: 40px 0px -40px 0px;
  }
}
@media (max-width: 425px) {
  #abb img {
    width: 200px;
    height: 240px;
    margin: -15px 0px -35px 110px;
  }
}
#aboutme {
  margin: 70px 0px 40px 160px;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  #aboutme {
    margin: 70px 0px 40px 20px;
  }
}
@media (max-width: 425px) {
  #aboutme {
    margin: 90px 0px 40px 20px;
    padding: 30px 0px 0px 40px;
  }
}

#about {
  color: white;
  font-size: 16px;
}
@media (max-width: 425px) {
  #about {
    font-size: 14px;
    margin: -10px 0px 10px 110px;
  }
}
#who {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 425px) {
  #who {
    display: none;
  }
}
#my {
  color: rgb(163, 156, 156);
}
@media (max-width: 425px) {
  #my {
    font-size: 12px;
    padding-left: 50px;
  }
}
#box {
  background-color: rgb(110, 107, 107);
  padding: 10px 10px 10px 10px;
  margin: 20px 0px 0px 0px;
  overflow-x: hidden;
}
@media (max-width: 425px) {
  #box {
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 0px 50px;
    width: 220px;
  }
}

#htm div {
  padding: 14px;
}
#cpp div {
  padding: 14px;
}
#sql div {
  padding: 14px;
}
#download {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 425px) {
  #download {
    margin: 20px 0px 10px 50px;
  }
}
#download a {
  text-decoration: none;
  color: white;
  background-color: orange;
  width: 116px;
  padding: 6px 8px 10px 8px;
}
@media (max-width: 425px) {
  #download a {
    width: 106px;
    padding: 6px 8px 6px 8px;
  }
}
#download a:hover {
  background-color: white;
  color: orange;
}
/* ==========about end========= */
/* ===============service=========== */
#ser {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 80px;
}

#service {
  background-color: rgb(110, 107, 107);

  overflow-x: hidden;
}

#mainweb {
  display: flex;
  justify-content: center;
  margin: 30px;
}
#mainweb div {
  margin: 30px;
}
#mainweb div:hover {
  background-color: rgb(39, 24, 45);
  color: white;
}
#webdesign {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  padding: 20px;
}
#des {
  font-size: 32px;
  font-weight: 700;
}
#mainweb div i {
  font-size: 40px;
}
#business {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}
#bus {
  font-size: 32px;
  font-weight: 700;
}

#graphic {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}
#gra {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 768px) {
  #ser {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  #mainweb div {
    margin: 15px;
  }
  #mainweb div i {
    font-size: 30px;
  }
  #webdesign {
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
  }
  #des {
    font-size: 16px;
    font-weight: 700;
  }
  #bus {
    font-size: 16px;
    font-weight: 700;
  }
  #gra {
    font-size: 16px;
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  #mainweb {
    display: block;
    justify-content: center;
    margin: 30px;
  }
}

/* ================service end====== */

/* =================portfolio ================= */

#portfolio {
  margin-top: 300px;
  background-color: whitesmoke;
  margin-top: 0px;
  overflow-x: hidden;
}

#port {
  font-size: 32px;
  font-weight: 700;
  padding: 60px;
}

#images {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
  padding-bottom: 40px;
}

#images div img {
  width: 330px;
}

#image1 {
  width: 340px;
}
#image1:hover {
  border: 2px solid black;
}
#image2 {
  width: 340px;
}
#image2:hover {
  border: 2px solid black;
}
#image3 {
  width: 340px;
}
#image3:hover {
  border: 2px solid black;
}
#image4 {
  width: 340px;
}
#image4:hover {
  border: 2px solid black;
}
#image5 {
  width: 340px;
}
#image5:hover {
  border: 2px solid black;
}
#image6 {
  width: 340px;
}
#image6:hover {
  border: 2px solid black;
}
#image7 {
  width: 340px;
}
#image7:hover {
  border: 2px solid black;
}
#image8 {
  width: 340px;
}
#image8:hover {
  border: 2px solid black;
}
#image9 {
  width: 340px;
}
#image9:hover {
  border: 2px solid black;
}
@media (max-width: 1024px) {
  #images {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  #images {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30px;
  }
}
@media (max-width: 425px) {
  #images {
    display: grid;
    grid-template-columns: auto;
    margin-left: 40px;
  }
}
/* =======portfolio end========== */
/*=============contact me=======*/
#main {
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  #main {
    margin-top: 0px;
  }
}
@media (max-width: 425px) {
  #main {
    display: block;
  }
}
#con {
  padding: 0px;
}
@media (max-width: 425px) {
  #con {
    padding: 10px 10px 10px 40px;
  }
}
#contact {
  color: brown;
  font-size: 20px;
  padding-top: 30px;
}
#one {
  color: white;
  padding: 20px 0px 30px 0px;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 425px) {
  #one {
    padding: 10px 0px 10px 0px;
    font-size: 32px;
  }
}
#number {
  margin: 20px 0px 15px 0px;
}
#number a {
  font-size: 30px;
  color: white;
}
@media (max-width: 425px) {
  #number a {
    font-size: 20px;
    color: white;
  }
}
#mail {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 425px) {
  #mail {
    margin: 10px 0px 0px 0px;
  }
}
#mail a {
  font-size: 30px;
  color: white;
}
@media (max-width: 425px) {
  #mail a {
    font-size: 20px;
    color: white;
  }
}
#kuchnhi {
  background-color: white;
  margin: 30px 0px 30px 0px;
  padding: 20px 10px 20px 10px;
  overflow-x: hidden;
}
@media (max-width: 425px) {
  #kuchnhi {
    margin: 30px 0px 30px 0px;
    padding: 10px 0px 10px 40px;
  }
}
input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 50px rgb(145, 126, 126);
}
textarea {
  width: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 50px rgb(145, 126, 126);
}
#button {
  border: 2px solid black;
  width: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  background-color: aqua;
}
#button a {
  text-decoration: none;
  color: rgb(46, 45, 45);
}
#button:hover {
  color: aqua;
  background-color: silver;
}
/* ==========contact end============ */
